*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle
.gradle/
**/build/
**/captures/
**/outputs/
!gradle/wrapper/gradle-wrapper.jar

# IDE Files
.idea/
*.iml

# Keystore (For signing)
*.keystore
*.jks

# Local Properties
local.properties
